:root
{
    --bg-width-blue: 20vh; 
    --bg-height-blue: 20vh;
    --logo-width-blue: 20vh; /*80vw 150px*/
    --logo-height-blue: 20vh; /*80vh 150px*/
    --trans-blue: 0.5s ease-in-out;
    --img-width-blue: 652px;
    --img-height-blue: 813px;
    --line-color-blue: #FFC502;
    --opacity-blue: 0%;
    --left-1-blue: -500px;
    --left-2-blue: -500px;
    --left-3-blue: -500px;
    --left-4-blue: -500px;
    --left-5-blue: -500px;
    --flex-1-blue: 1;
    --flex-2-blue: 1;
    --flex-3-blue: 1;
    --flex-4-blue: 1;
    --flex-5-blue: 1;
    --pos-name1-blue: 0px;
    --pos-name2-blue: 0px;
    --pos-name3-blue: 0px;
    --pos-name4-blue: 0px;
    --pos-name5-blue: 0px;
    --flex-name-1-blue: 0;
    --flex-name-2-blue: 0;
    --flex-name-3-blue: 0;
    --flex-name-4-blue: 0;
    --flex-name-5-blue: 0;
}

#lineup-blue-master
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: var(--opacity-blue);
    transition: 0.5s ease-in-out;

}
#background-blue
{
    width: var(--bg-width-blue);
    height: var(--bg-height-blue);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trans-blue);
}
#background-blue::after
{
    content: '';
    width: 200vw;
    height: 200vw;
    display: block;
    z-index: -1;
    position: absolute;
    top: -40rem; right: -20rem; bottom: -20rem; left: -60rem;
    background: linear-gradient(0deg,#00F1FF, #FFC601);
    animation: rotate-gradient 3s ease-in-out infinite;
}
@keyframes rotate-gradient
{
    to { transform: rotate(360deg) }
}

#lineup-blue-ctn
{
    width: calc(var(--bg-width-blue) - 8px);
    height: calc(var(--bg-height-blue) - 8px);
    background: black;
    transition: var(--trans-blue);
    position: relative;
}
.logo-team-blue
{
    width: var(--logo-height-blue);
    height: var(--logo-height-blue);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.logo-team-blue-ctn
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: var(--logo-width-blue);
    height: var(--logo-height-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1,98,249);
    transition: 0.5s ease-in-out;
    z-index: 999;
    transition: var(--trans-blue);

}
#team-blue-name-tab
{
    width: 100%;
    height: var(--logo-height-blue);
    position: relative;
    padding-left: var(--logo-height-blue);
    color: white;
    font-size: 130px;
    text-indent: 40px;
    line-height: var(--logo-height-blue);
    font-family: 'SVN-Engine';
    background: url(../img/pttn1.png) center right/ 70% no-repeat;
    background-color: #383837;
    animation: animation-tab-name 3s ease-in-out infinite;
}
@keyframes animation-tab-name
{
    0%, 100%
    {
        background-position-x: 621px; 
    }
    50%
    {
        background-position-x: 590px;
    }
}

#line-blue
{
    width: 100%;
    height: 25px;
    background-color: var(--line-color-blue);
    transition: var(--trans-blue);

}
#player-blue-ctn
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--line-color-blue);
    transition: var(--trans);

}
.player-blue-lineup-style
{
    background-color: #00449F;
    position: relative;
    flex: 1;
    margin: 0px 1px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    transition: var(--trans-blue);

}
.player-blue-lineup-style::after
{
    content: '';
    background: url('../img/pttn.png') center / cover no-repeat;
    width: 450px;
    height: 100%;
    position: absolute;
    right: -50px;
    opacity: 0.15;
    animation: back-player 5s infinite;
}
@keyframes back-player
{
    0%,100%
    {
        background-position: 0px;
        opacity: .15;
    }
    50%
    {
        background-position: 20px;
        opacity: .3;
    }
}
.player-blue-lineup-img
{
    width: calc(var(--img-width-blue)*1.2);
    height: calc(var(--img-height-blue)*1.2);
    position: absolute;
    right: -220px;
    z-index: 2;
    transition: var(--trans-blue);

}

.player_lineup-blue-tabname
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    z-index: 4;
    transition: var(--trans-blue);

}
.player_lineup-blue-tabname::before
{
    content: "";
    position: absolute;
    width: 330px;
    height: 80px;
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
    background: white;
    z-index: 3;
    transition: var(--trans-blue);

}
.player_lineup-blue-playername
{
    width: 0px; 
/* 230px */
    font-family: 'SVN-Engine';
    position: relative;
    left: -15px;
    bottom: -22px;
    text-indent: 15px;
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    z-index: 6;
    flex: 7;
}
#player_lineup-blue-playername-1::before
{
    content: "DSL";
    position: absolute;
    width: 125px;
    height: 25px;
    font-size: 25px;
    top: -18px;
    left: 2px;
    color: #0063F9;
}
#player_lineup-blue-playername-2::before
{
    content: "JGL";
    position: absolute;
    width: 125px;
    height: 25px;
    font-size: 25px;
    top: -18px;
    left: 2px;
    color: #0063F9;
}
#player_lineup-blue-playername-3::before
{
    content: "MID";
    position: absolute;
    width: 125px;
    height: 25px;
    font-size: 25px;
    top: -18px;
    left: 2px;
    color: #0063F9;
}
#player_lineup-blue-playername-4::before
{
    content: "ADL";
    position: absolute;
    width: 125px;
    height: 25px;
    font-size: 25px;
    top: -18px;
    left: 2px;
    color: #0063F9;
}
#player_lineup-blue-playername-5::before
{
    content: "SUP";
    position: absolute;
    width: 125px;
    height: 25px;
    font-size: 25px;
    top: -18px;
    left: 2px;
    color: #0063F9;
}
#player_lineup-blue-tabname-1 > .player_lineup-role
{
    position: relative;
    left: -10px;
    width: 60px;
    height: 60px;
    margin: 10px;
    background: url('../img/1DSL.png') center / contain no-repeat;
    flex: 1;
    transition: 0.5s ease-in-out;
    z-index: 5;
}
#player_lineup-blue-tabname-2 > .player_lineup-role
{
    position: relative;
    left: -10px;
    width: 100%;
    height: 60px;
    margin: 10px;
    background: url('../img/2JGL.png') center / contain no-repeat;
    flex: 1;
    transition: 0.5s ease-in-out;
    z-index: 5;
}
#player_lineup-blue-tabname-3 > .player_lineup-role
{
    position: relative;
    left: -10px;
    width: 100%;
    height: 60px;
    margin: 10px;
    background: url('../img/3MID.png') center / contain no-repeat;
    flex: 1;
    transition: 0.5s ease-in-out;
    z-index: 5;
}
#player_lineup-blue-tabname-4 > .player_lineup-role
{
    position: relative;
    left: -10px;
    width: 100%;
    height: 60px;
    margin: 10px;
    background: url('../img/4ADL.png') center / contain no-repeat;
    flex: 1;
    transition: 0.5s ease-in-out;
    z-index: 5;
}
#player_lineup-blue-tabname-5 > .player_lineup-role
{
    position: relative;
    left: -10px;
    width: 100%;
    height: 60px;
    margin: 10px;
    background: url('../img/5SUP.png') center / contain no-repeat;
    flex: 1;
    transition: 0.5s ease-in-out;
    z-index: 5;
}
.player_lineup_KDA-blue ,
.player_lineup_MVP-blue
{
    margin-top: 15px;
    color: #FFC600;
    font-size: 180px;
    font-family: 'SVN-Engine';
    font-style: italic;
    letter-spacing: -4px;
    transition: 0.5s ease-in-out;
}
.player_lineup_KDA-blue::before,
.player_lineup_MVP-blue::before
{
    content: 'AVG KDA';
    position: absolute;
    text-align: center;
    width: 200px;
    height: 40px;
    background: white;
    color: black;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    font-family: 'SVN-Engine';
    font-style: italic;
    transition: 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}
.player_lineup_Rank-blue
{
    background: black;
    width: 240px;
    height: 40px;
    color: white;
    font-size: 35px;
    line-height: 40px;
    font-family: 'SVN-Engine';
    font-style: italic;
    text-indent: 20px;
    position: relative;
    top: -40px;
    transition: 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}
.onOff-blue1
{
    position: relative;
    left: var(--left-1-blue);
}
.onOff-blue2
{
    position: relative;
    left: var(--left-2-blue);
}
.onOff-blue3
{
    position: relative;
    left: var(--left-3-blue);
}
.onOff-blue4
{
    position: relative;
    left: var(--left-4-blue);
}
.onOff-blue5
{
    position: relative;
    left: var(--left-5-blue);
}
#player-lineup-blue-1
{
    flex: var(--flex-1-blue);
}
#player-lineup-blue-2
{
    flex: var(--flex-2-blue);
}
#player-lineup-blue-3
{
    flex: var(--flex-3-blue);
}
#player-lineup-blue-4
{
    flex: var(--flex-4-blue);
}
#player-lineup-blue-5
{
    flex: var(--flex-5-blue);
}
#player_lineup-blue-playername-1
{
    width: var(--pos-name1-blue);
    flex: var(--flex-name-1-blue);
}
#player_lineup-blue-playername-2
{
    width: var(--pos-name2-blue);
    flex: var(--flex-name-2-blue);
}
#player_lineup-blue-playername-3
{
    width: var(--pos-name3-blue);
    flex: var(--flex-name-3-blue);
}
#player_lineup-blue-playername-4
{
    width: var(--pos-name4-blue);
    flex: var(--flex-name-4-blue);
}
#player_lineup-blue-playername-5
{
    width: var(--pos-name5-blue);
    flex: var(--flex-name-5-blue);
}