@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root
{
    --font-label: 12px;
    --match-width: 100%;
    --match-height: 200px;
    --lineup-width: 100%;
    --lineup-height: 300px;
    --boxLineUp-height: 80px;
    --boxLineUp-width: 800px;
    --bg-hover-btn: rgb(99, 99, 99);
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.input-style
{
    width: 120px;
    height: 30px;
    position: relative;
    top: 14px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    text-align: start;
    text-transform: uppercase;
    text-indent: 10px;
}
.input-style:focus-visible
{
    outline: none;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}
.label-style
{
    position: absolute;
    height: var(--font-label);
    padding: 0px 3px;
    top: 3px;
    left: 8px;
    background: var(--bg-color);
    z-index: 2;
    font-size: var(--font-label);
    text-transform: uppercase;
}
.input-div
{
    position: relative;
    margin-left: 15px;
    height: 50px;
}
.btn
{
    padding: 3px 3px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover
{
    background: var(--bg-hover-btn);
    color: white;
}
.btn-div
{
    padding: 2px 5px;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}
.colum-ctn
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.row-ctn
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.center-ctn
{
    justify-content: center;
    align-items: center;
}
.full-ctn
{
    width: 100%;
}
.border-ctn
{
    border-bottom: 1px #000 solid;
}
.border-right
{
    border-right: 1px #000 solid;
}
.title-ctn
{
    position: absolute;
    width: 180px;
    z-index: 999;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    rotate: -90deg;
    left: -50px;
    top: 35%;
    border-bottom: 1px solid black;
    opacity: .7;
}
/* main */
.main-container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.body-container
{
    position: relative;
    margin-left: 140px;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
}
#match-create-check-ctn
{
    width: 100%;
    border-bottom: 1px black solid;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 15px;
}
.colum-match-container
{
    width: var(--match-width);
    height: var(--match-height);
    background: var(--bg-color);
    padding-left: 70px;
    position: relative;
}
.row-input-container
{
    width: fit-content;
    height: 45px;
    position: relative;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
#match-stt
{
    color: black;
    width: 100%;
    height: 15px;
    font-size: 10px;
    line-height: 15px;
    margin-left: 22px;
}
.ion-icon-css
{
    position: relative;
    bottom: -2px;
}
#create-btn
{
    width: 255px;
}
.team-dad-ctn
{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}
#team-dad-lineup
{
    position: relative;
    border-right: 1px black solid;
    padding-right: 15px;
}
#lineup-backend-ctn
{
    width: 100%;
    height: 200px;
    position: relative;
    align-items: center;
    border-top: 1px black solid;
}
.box-lineup
{
    width: var(--boxLineUp-width);
    height: var(--boxLineUp-height);
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 120px;
    position: relative;

}
.player-lineup-css
{
    width: fit-content;
    border-radius: 5px;
    border: 1px solid rgb(44, 44, 44);
    padding: 7px 5px 7px 38px;
    margin: 2px 5px;
    z-index: 999;
    position: relative;
    background-color: rgb(65, 65, 65);
    color: white;
    list-style: none;
}
.player-lineup-css:hover
{
    background-color: rgb(167, 167, 167);
}
.tagTeam
{
    position: absolute;
    width: 80px;
    font-size: 2em;
    rotate: -90deg;
    left: -60px;
    opacity: .5;
    text-align: center;
    list-style: none;
}

#box-lineup-blue > li:nth-child(2)::before,
#box-lineup-red > li:nth-child(2)::before
{
    content: 'DSL';
    position: absolute;
    left: 5px;
    font-size: 1em;
    border-right: 1px solid white;
    padding-right: 3px;
}
#box-lineup-blue > li:nth-child(3)::before,
#box-lineup-red > li:nth-child(3)::before
{
    content: 'JGL';
    position: absolute;
    left: 5px;
    font-size: 1em;
    border-right: 1px solid white;
    padding-right: 3px;
}
#box-lineup-blue > li:nth-child(4)::before,
#box-lineup-red > li:nth-child(4)::before
{
    content: 'MID';
    position: absolute;
    left: 5px;
    font-size: 1em;
    border-right: 1px solid white;
    padding-right: 3px;
}
#box-lineup-blue > li:nth-child(5)::before,
#box-lineup-red > li:nth-child(5)::before
{
    content: 'ADL';
    position: absolute;
    left: 5px;
    font-size: 1em;
    border-right: 1px solid white;
    padding-right: 3px;
}
#box-lineup-blue > li:nth-child(6)::before,
#box-lineup-red > li:nth-child(6)::before
{
    content: 'SUP';
    position: absolute;
    left: 5px;
    font-size: 1em;
    border-right: 1px solid white;
    padding-right: 3px;
}
#box-lineup-blue > li:nth-child(7)::before,
#box-lineup-red > li:nth-child(7)::before,
#box-lineup-blue > li:nth-child(8)::before,
#box-lineup-red > li:nth-child(8)::before
{
    content: 'SUB';
    position: absolute;
    left: 5px;
    font-size: 1em;
    border-right: 1px solid white;
    padding-right: 3px;
}
#match-info-container
{
    width: 370px;
}
#swap-btn
{
    width: 80px;
    height: 180px;
    padding: 10px 0px;
    font-size: 25px;
}
#sync-lineup-btn
{
    width: 80px;
    height: 180px;
    padding: 10px 0px;
    font-size: 25px;
}
#match__stream-info
{
    position: relative;
    padding-left: 65px;
    padding-right: 15px;
    flex: 1;
    background: var(--bg-color);
    border-right: 1px black solid;
}
#game_info-ctn
{
    width: 100%;
    height: 200px;
    position: relative;
    padding-left: 90px;
    border-right: 1px black solid;
}
#game_info_gamerender
{
    margin-left: -15px;
    flex-wrap: wrap;
}
#game_info_gamerender > .input-div > .input-style
{
    width: 85px;
}
#lineup-result
{
    position: relative;
    width: 100%;
    height: 200px;
}
.text-view
{
    font-size: 20px;
    background: rgba(50, 50, 50,0.3);
    margin: 5px;
    padding: 5px 15px;
}
.lineup-result-css
{
    list-style: none;
    background: rgba(59, 59, 59,0.3);
    padding: 2px 5px 2px 40px;
    border: 1px black solid ;
    border-radius: 3px;
    margin: 5px;
    position: relative;
}
.lineup_result-box
{
    width: 500px;
    height: 90px;
    border: 1px black solid;
    flex-wrap: wrap;
    margin: 5px 5px 5px 90px;
}
#line-up-result-blue > li:nth-child(1)::before,
#line-up-result-red > li:nth-child(1)::before
{
    content: 'DSL';
    position: absolute;
    left: 5px;
    font-size: 15px;
    border-right: 1px solid black;
    padding-right: 3px;
}
#line-up-result-blue > li:nth-child(2)::before,
#line-up-result-red > li:nth-child(2)::before
{
    content: 'JGL';
    position: absolute;
    left: 5px;
    font-size: 15px;
    border-right: 1px solid black;
    padding-right: 3px;
}
#line-up-result-blue > li:nth-child(3)::before,
#line-up-result-red > li:nth-child(3)::before
{
    content: 'MID';
    position: absolute;
    left: 5px;
    font-size: 15px;
    border-right: 1px solid black;
    padding-right: 3px;
}
#line-up-result-blue > li:nth-child(4)::before,
#line-up-result-red > li:nth-child(4)::before
{
    content: 'ADL';
    position: absolute;
    left: 5px;
    font-size: 15px;
    border-right: 1px solid black;
    padding-right: 3px;
}
#line-up-result-blue > li:nth-child(5)::before,
#line-up-result-red > li:nth-child(5)::before
{
    content: 'SUP';
    position: absolute;
    left: 5px;
    font-size: 15px;
    border-right: 1px solid black;
    padding-right: 3px;
}
#sync__match__ID-btn
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}